body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f8ff;
    text-align:center;
}

header{
    background:#0056b3;
    color:white;
    padding:30px;
}

main{
    padding:40px;
}

h2{
    color:#0056b3;
}

button{
    background:#0056b3;
    color:white;
    padding:15px 30px;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#003d80;
}

footer{
    background:#222;
    color:white;
    padding:15px;
    margin-top:50px;
}
